@import url('https://use.typekit.net/rwl1adx.css');

:root {
  --typeface-body-copy: antarctican-mono, sans-serif;
  --typeface-headings: mono45-headline, monospace;

  --color-foreground: #242424;
  --color-background: #fefefe;
  --color-gray: #8b8b8b;
  --color-accent-mono: hsl(0, 0%, 18%);
}

html {
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--typeface-body-copy);
  font-weight: 400;
  line-height: 1.6;
}

body {
  min-width: 36rem;
  background: var(--color-background);
  color: var(--color-foreground);
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--typeface-headings);
  font-weight: 700;
  font-style: normal;
}

h1 {
  line-height: 120%;
}

img {
  max-width: 100%;
  display: block;
}

code {
  font-family: var(--typeface-body-copy) !important;
  font-weight: 400;
  font-style: italic;
}

*::selection {
  background: var(--color-foreground);
  color: var(--color-background);
}

/* Custom scrollbar styles */
body::-webkit-scrollbar {
  width: 12px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #5e6dd0 var(--white);
}

body::-webkit-scrollbar-track {
  background: lavender;
}

body::-webkit-scrollbar-thumb {
  background-color: #5e6dd0;
  border-radius: 6px;
  border: 3px solid lavender;
}
